@charset "UTF-8";

html,
body {
    height: 100%;
    /* ページ全体の高さを設定 */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* 横方向のはみ出しを防ぐ */
}

html {
    background-image: linear-gradient(0deg, #ff0 0%, #186AC9 40%);
}



header {
    width: 100%;
    /* position: relative; */
    padding-top: 5%;
    margin-bottom: 5%;
    top: 30%;
    /* 中央揃え */
    text-align: center;
}

header h1 img {
    width: 15%;
}

header p {
    font-size: 35px;
    font-family: Verdana;
    color: #fff;
}

/* 黒いエリア */
#form-area {
    background-color: rgba(0, 0, 0, 0.4);
    width: 30%;
    margin: 5% auto;
    /* 左右中央揃え */
    padding: 5%;
    color: #fff;
    /* ↓角丸 */
    border-radius: 10px;
    text-align: center;
}

label {
    display: inline-block;
    width: 100%;
}

.input {
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    /* これでパディングが幅に含まれます */
}

.login_title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.login_link {
    position: relative;
    margin-top: 5%;
    top: 5%;
    text-align: center;
    text-decoration: underline;
}

.btn-block {
    display: block;
    /* ブロック要素にして幅を調整 */
    margin-left: auto;
    /* 右に寄せる */
    background-color: #f33;
    width: auto;
    padding: 5px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
}

a {
    color: #fff;
}

.form_area {
    padding: 10px;
}

/* 新規登録後の画面 */
#clear {
    line-height: 1.4;
    /* 行間の高さを設定（1.3倍に調整） */
}

.registration-complete {
    font-weight: bold;
    /* 太字 */
    padding-bottom: 15%;
}



.welcome-message {
    margin-bottom: 5%;
}

/* ログイン画面へのボタン */
.btn {
    display: inline-block;
    background-color: #f33;
    width: auto;
    padding: 5% 10%;
    margin: 10%;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
}
