@charset "utf-8";

html,
body {}

a {
    color: #fff;
}

/* header */
#head {
    display: flex;
    background: #186AC9;
    justify-content: center;
    /* 水平方向に中央揃え */
    align-items: center;
    /* 垂直方向に中央揃え */

}



.atlas {
    padding: 10px;
    height: 40px;
    /* 高さを自動調整 */
}

/* 投稿画面 */

.user-icon {
    width: 50px;
    /* アイコンの幅 */
    height: 50px;
    /* アイコンの高さ */
    border-radius: 50%;
    /* アイコンを丸くする */
    margin-right: 10px;
    /* アイコンと名前の間にスペースを追加 */
}

.post-name {
    font-weight: bold;
    /* ユーザー名を太字に */
    margin-bottom: 5px;
    /* 名前と投稿内容の間にスペースを追加 */

}

/* 上のエリア */
.side_user {
    display: flex;
    margin-left: auto;
}

.side_user p {
    /* 水平方向の中央揃え */
    text-align: center;
    line-height: 80px;
    margin: 0;
    color: #fff;
}

.suffix {
    margin-left: 10px;
}

/* 投稿リストの親要素 */
ul {
    display: flex;
    /* フレックスボックスを使用 */
    flex-wrap: wrap;
    /* 複数行にラップする */
    padding: 0;
    /* デフォルトのパディングをリセット */
    list-style: none;
    /* デフォルトのリストスタイルを削除 */
}

/* 投稿フォーム */
.post_form {
    /* 要素を横並び */
    display: flex;
    justify-content: space-between;
    /* 各アイテムを両端に配置 */
    align-items: center;
    /* アイテムの高さを揃える */
    width: 100%;
    height: 100px;
    /* フォーム全体を親要素いっぱいに広げる */
    padding: 20px 50px 80px 50px;
    position: relative;
    /* 投稿エリア下の枠線 */
    border-bottom: 7px solid #ccc;
}


/* 投稿フォーム周りの余白 */
.post_form input {
    padding: 20px;
    border-style: none;
}

.post_form input::placeholder {
    /* 文字色は薄いグレー */
    color: #ccc;
}

/* 投稿ボタン */
.button {
    position: absolute;
    top: 100px;
    /* post_form内の上から何pxか */
    right: 150px;
    /* post_form内の右から何pxか */
    border-style: none;
    padding: 0;
    margin: 0;
    background: none;
    /* ↑この4つで枠線消した */
    cursor: pointer;
}

.button img {
    border: none;
    /* 角丸↓ */
    border-radius: 5px;
}

.post_form img {
    flex-shrink: 0;
    /* 画像の縮小を防ぐ */
}

.post_form input {
    flex-grow: 1;
    /* 入力フィールドをできるだけ広げる */
    margin: 0 10px;
    /* 入力フィールドの左右に余白を追加 */
}

/* 各投稿項目 */
.post-block {
    display: flex;
    /* フレックスボックスを使用 */
    align-items: center;
    /* アイコンとテキストを中央揃え */
    flex-flow: column;
    /* 縦並び */
    /* 親要素内で右よせ */
    margin: 0 0 0 100px;
    padding: 10px;
    width: 90%;
    position: relative;

}

.post {
    /* アイコンと投稿を横並び */
    display: flex;
    width: 100%;
}

.post-content {
    /* display: flex; */
    position: relative;
    align-items: center;
    /* 縦方向の中央揃え */
    flex-direction: column;
    /* 投稿内容を縦に並べる */
    margin-bottom: 10px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: auto 1fr;
    /* 1列目は自動サイズ、2列目は残りのスペースを使用 */
    gap: 10px;
    /* 列間のスペースを設定 */
}

.created_at {
    margin-left: auto;
    /* 左側にスペースを持たせて右端に寄せる */
    font-size: smaller;
    /* フォントサイズを小さくする（任意） */
    color: black;
    /* 色を薄くする（任意） */
}

/* ボタンエリア */
ul {
    position: relative;
    /* 各投稿ごとに下線 */
    border-bottom: 1px solid #999;
}

.button_area {
    /* 横並び */
    margin-left: auto;
    /* 左側のマージンを自動にして右寄せ */

    display: flex;
    top: 40%;
    right: 20px;
}

/* 編集ボタン */
.content {
    margin: 0 0 0 auto;
    padding: 0px 0px 0px 0px;
}

/* 削除ボタン */
.btn_delete {
    margin: 0px 0px 0px 0px;
    border-radius: 5px;

}

/* 投稿時間 */
.created_at {
    margin-left: auto;
    /* 左側のマージンを自動にして右寄せ */
}


/* アコーディオンメニュー */
.menu-box {
    position: relative;
    /* メニュー全体を相対位置に設定 */
}

.menu_btn {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-style: none;
    background: none;
    margin-top: 70%;
}

.menu_btn::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 25%;
    transform: rotate(135deg);
    /* 最初の矢印は下向き */
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.menu_btn.open::after {
    top: 45%;
    /* 矢印の位置を少し変える */
    transform: rotate(-45deg);
    /* 矢印を上向きに変える */
}

.menu {
    display: none;
    /* 最初は非表示 */
    position: absolute;
    /* ボタンの下に表示 */
    top: 100%;
    /* ボタンの下に配置 */
    left: 0;
    /* 左揃え */
    /* z-index: 1000; */
    /* 他の要素より前面に表示 */
    border: 2px solid #333;
    /* ボーダーを設定（必要に応じて調整） */
    width: 370%;
    margin-left: -50px;
    /* 左に10pxずらすことでリンクを広げる */
    background-color: #fff;
    /* ボタンの背景色 */
}

.menu li {
    width: 100%;
    border-bottom: 1px solid #999;
}

.menu li:hover {
    background-color: #009;
}

.menu a {
    display: block;
    /* リンクをブロック要素にして改行 */
    padding: 10px 15px;
    /* 内側の余白を追加 */
    text-decoration: none;
    /* 下線を消す */
    border-radius: 5px;
    /* 角を丸くする */
    width: 100%;
    box-sizing: border-box;
}

.menu a:hover {
    color: #fff;
}

.menu .home,
.profile,
.center {
    color: #333;
}

.side_user img {
    padding: 15px;
}

/* サイドエリア */
/* 全体のレイアウトをフレックスボックスにする */
#row {
    display: flex;
    justify-content: space-between;
    /* 投稿エリアとサイドエリアを左右に配置 */
}

#container {
    width: 100%;
    /* 投稿エリアの幅を設定 */
    min-height: 100vh;
    /* 画面の高さに自動で調整 */
    min-height: 100vh;
    /* 画面の高さに自動で調整 */
}

#side-bar {
    display: flex;
    /* フレックスボックスを使用 */
    flex-direction: column;
    /* 縦に並べる */
    width: 26%;
    /* サイドエリアの幅を設定 */
    border-left: 1px solid #333;
}

/* フォロー数とフォローボタンエリア */
.side-follow {
    display: flex;
    /* フレックスボックスを使用 */
    flex-direction: column;
    /* 縦に並べる */
    padding: 10% 5% 15% 5%;
    border-bottom: 1px solid #999;
}

.side-follow p {
    display: flex;
}

/* フォロー数エリア */
.follow-count {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
}

.follow-count p {
    margin-right: 20%;
}

.follower-count {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
}

.follower-count p {
    margin-right: 13%;
}

/* フォローリストボタン */
.btn-follow,
.btn-follower {
    display: flex;
    justify-content: center;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
    margin-left: auto;
    /* 右に寄せる */
    background-color: #03c;
    padding: 5%;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.btn-follow {
    padding: 5% 8.5%;
}

/* サイドエリアの検索ボタン */
.search-btn {
    display: flex;
    justify-content: center;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
    margin: 8%;
    background-color: #03c;
    padding: 5%;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    border: none;
}

/* 検索ページ */
/* 検索ワードがフォームの横に表示されるように */
form {
    display: flex;
    align-items: center;
}

form input[type="text"] {
    margin-right: 10px;
}

form span {
    margin-left: 10px;
    font-weight: bold;
}

/* ここがフォローリスト画面の上や検索フォーム */
.main_area {
    /* 要素を横並び */
    display: flex;
    align-items: center;
    /* アイテムの高さを揃える */
    width: 100%;
    height: 100px;
    /* フォーム全体を親要素いっぱいに広げる */
    padding: 20px 50px 80px 20px;
    position: relative;
    /* 投稿エリア下の枠線 */
    border-bottom: 7px solid #ccc;
}


/* 検索フォーム */

.ul-search {
    border-bottom: none;
}

.search-form {
    position: absolute;
    padding: 15px;
    padding-left: 50px;
    width: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 3.2rem;
}

.search-text {
    padding: 15px;
    width: 30%;
}

/* 検索ページの検索ボタン（虫眼鏡） */
.magnifying-glass {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.searchArea {
    display: flex;
    /* フレックスボックスを使用 */
    align-items: center;
    /* アイコンとテキストを中央揃え */
    flex-flow: column;
    /* 縦並び */
    /* 親要素内で右よせ */
    margin: 0 0 0 100px;
    padding: 10px;
    position: relative;
    /* 下線を消す */
    border-bottom: none;
}


.searchArea button {
    cursor: pointer;
}

.searchList {
    /* アイコンと名前とボタン */
    /* 横並び */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 名前とボタンを左右に配置 */
    width: 100%;
    padding: 20px;
}

.icon-name {
    display: flex;
    /* フレックスボックスを有効にする */
    align-items: center;
}

.icon-name img {
    margin-right: 30px;
}

/* フォロー、フォロー解除ボタン */
.follow-btn,
.unfollow-btn {
    border-radius: 5px;
    border-style: none;
    padding: 10px 20px;
    background: none;
    margin-right: 250px;
    color: #fff;
}


/* 編集機能 */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    /* 横中央に配置 */
    align-items: center;
    /* 縦中央に配置 */
}

.modal__bg {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background-color: #186AC9;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}



/* 編集ボタン */
.js-modal-open,
.modal-btn {
    display: inline-block;
    /* aタグは通常インライン要素なので、ブロック要素として扱う */
    width: 50px;
    height: 50px;
    background-image: url('../images/edit.png');
    background-size: cover;
    /* 画像が要素に収まるように調整 */
    background-position: center;
    border: none;
    cursor: pointer;
}

/* 削除ボタン */
.btn_delete {
    width: 50px;
    height: 50px;
    border: none;
    background: url('../images/trash.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* 背景画像の変更に0.6秒かける */
}

/* ホバー時に背景画像を変更 */
.btn_delete:hover {
    background-image: url('../images/trash-h.png');
}


/* フォロー、フォロワーリストページ */

.f-postArea,
.profile-body {
    width: 100%;
    border-bottom: none;
}

.follow-post {
    /* width: 100%; */
}

/* プロフィールページ */
.profile-area {

    width: 100%;
    height: 100px;
    /* フォーム全体を親要素いっぱいに広げる */
    padding: 20px 50px 80px 20px;
    position: relative;
    /* 投稿エリア下の枠線 */
    border-bottom: 7px solid #ccc;
}

.profile-area form {
    display: flex;
    /* フレックスボックスを有効にする */
    flex-direction: column;
    /* 子要素を縦に並べる */
    align-items: center;
    /* 水平方向に中央揃え（必要に応じて） */
}
